/* This file contains the CSS styles for the Aurora theme */
/* This file is used to style the Aurora theme */
:root {
  --standard_desk_marign: 120px;
  --main-color: #cbbcc4;
}

@media (max-width: 750px) {
  :root {
    --standard_desk_marign: 1.5em;
  }
}

/*sections content max width*/
.page-width {
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 var(--standard_desk_marign);
  }
}

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-screen-height {
  min-height: 100dvh;
  min-height: calc(100dvh - var(--header-offset));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin: calc(var(--standard_desk_marign) * 0.1) 0;
  line-height: calc(var(--standard_desk_marign)* 0.56);
  color: #ddcdd5e8;
  /* color: #4c4247; */
  text-shadow: 1px -1px 0px #4c4247;
}