/* This file contains the CSS styles for the Aurora theme */
/* This file is used to style the Aurora theme */
:root {
  --standard_desk_marign: 120px;
  --main-color: #fbf1f6e8;
  --secondary-color: #f3bd00;
  --font-heading-scale: 2.5;
}


@media (max-width: 750px) {
  :root {
    --standard_desk_marign: 1.5em;
  }
}

/*sections content max width*/
.page-width {
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 var(--standard_desk_marign);
  }
}

section {
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.flex-1 {
  flex: 1 0 0;
}

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-screen-height {
  min-height: 100dvh;
  min-height: calc(100dvh - var(--header-offset));
}

.border-top {
  border-top: 3px solid var(--secondary-color);
}

.border-bottom {
  border-bottom: 3px solid var(--secondary-color);
}

.gradient {
  /*background: #1d191d;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin: calc(var(--standard_desk_marign) * 0.1) 0;
  line-height: calc(var(--standard_desk_marign)* 0.56);
  color: var(--main-color);
  text-shadow: 1px -1px 0px #4c4247;
}